{% extends 'admin/base.html' %}

{% block content %}
<table>
    <tbody>
        <tr>
            <th>
                Acceleration
            </th>
            <th>
                Total RPM
            </th>
            <th>
                Current RPM
            </th>
            <th>
                Total Retweet
            </th>
            <th>
                Tweet
            </th>
        </tr>
        {% for tweet in tweets %}
        <tr>
            <td>
                {{ tweet.last.acceleration }}
            </td>
            <td>
                {{ tweet.total_rtm|floatformat:"3" }}
            </td>
            <td>
                {{ tweet.last.retweet_per_minute|floatformat:"3" }}
            </td>
            <td>
                {{ tweet.last.retweet_count }}
            </td>
            <td>
                <a
                    href="https://twitter.com/statuses/{{ tweet.last.tweet.twitter_id }}"
                    >{{ tweet.last.tweet.name }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script type="text/javascript">
function reload() {
    window.location.reload();
    setTimeout(reload, 1500);
}

setTimeout(reload, 1500);
</script>
{% endblock %}
