{% extends 'admin/base.html' %}

{% load humanize %}

{% block content %}
{% for tweet in tweets %}
<div class="tweet">
    <div class="source">
        <a href="https://twitter.com/users/{{ tweet.source.id }}">{{ tweet.source }}</a>
    </div>
    <div class="body">
        {{ tweet.text }}
    </div>
    <div class="link">
        <a
            href="https://twitter.com/statuses/{{ tweet.id }}"
        >https://twitter.com/statuses/{{ tweet.id }}</a>
    </div>
    <div class="stats">
        <table>
            <tr>
                <td>
                    {{ tweet.datetime|naturaltime }}
                </td>
                <td>
                    Friends retweets
                </td>
                <td>
                    {{ tweet.friends_retweets }}
                </td>
                <td>
                    Total retweet per minute
                </td>
                <td>
                    {{ tweet.total_rtm }}
                </td>
                <td>
                    Acceleration
                </td>
                <td>
                    {{ tweet.last_retweets.acceleration }}
                </td>
            </tr>
        </table>
    </div>
</div>
{% endfor %}

<script type="text/javascript">
function reload() {
    window.location.reload();
    setTimeout(reload, 1500);
}

setTimeout(reload, 1500);
</script>
{% endblock %}
