{% extends 'admin/base.html' %}

{% block content %}
<table>
    <tbody>
        <tr>
            <th>
                Tweet
            </th>
        </tr>
        {% for tweet in tweets %}
        <tr>
            <td>
                <a
                    href="https://twitter.com/statuses/{{ tweet.id }}"
                    >{{ tweet.text }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script type="text/javascript">
function reload() {
    window.location.reload();
    setTimeout(reload, 1500);
}

setTimeout(reload, 1500);
</script>
{% endblock %}
