{% extends 'admin/change_form.html' %}

{% block content %}
<div style="display: inline-block; width: 49%; vertical-align:top;">
    {{ block.super }}
</div>
<div style="display: inline-block; width: 49%; vertical-align:top;">
    <h2>Creating a token for a twitter account</h2>
    <ol>
        <li>Open <a href="https://apps.twitter.com/">apps.twitter.com</a></li>
        <li>Click <a href="https://apps.twitter.com/app/new">Create new app</a></li>
        <li>Fill the form and create a new app</li>
        <li>In the app detail page, click the "Keys and Access Tokens" tab</li>
        <li>At the bottom of the page, click "Create access token"</li>
        <li>In "Keys and Access tokens" tab, copy over access token, access
            token secret, consumer key and consumer secret</li>
    </ol>
</div>
{% endblock %}
