{% extends 'admin/base.html' %}

{% block footer %}
<script id="twitter-wjs" type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
<script type="text/javascript">
function renderTweets() {
    $('blockquote.body[data-tweet-id]:not(.rendered)').each(function() {
        var tweetId = $(this).attr('data-tweet-id');
        twttr.widgets.createTweet(tweetId, $(this).get(0));
        $(this).addClass('rendered');
    })
}
renderTweets();
</script>
{{ block.super }}
{% endblock %}
