{% extends 'admin/base.html' %}

{% block footer %}
<script id="twitter-wjs" type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
<script type="text/javascript">
    var elements = document.querySelectorAll('[data-tweet-id]');

    for (i in elements) {
        if (elements[i].attributes) {
            var element = elements[i];
            var tweetId = element.attributes['data-tweet-id'].value;
            console.log(tweetId, element)
            twttr.widgets.createTweet(tweetId, element);
        }
    }
</script>
{{ block.super }}
{% endblock %}
