{% extends 'posts/base.html' %}

{% load humanize %}
{% load tz %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:posts_post_changelist' %}">All posts</a>
</div>
{% endblock %}

{% block branding %}
{% timezone "Europe/Paris" %}


<h1>
Tweets
{% if 'anytime' not in request.GET %}
since {{ min_datetime }}
{% endif %}
with at least {{ min_friends_retweets }} friends retweet
</h1>

{% endtimezone %}
{% endblock %}

{% block content %}
<form method="GET" action="">
{{ form }}
<input type="submit" value="Filter" />
</form>

{% for object in object_list %}
<div class="tweet" id="tweet-{{ object.pk }}">
    <div class="source">
        <a href="{{ object.poster.get_absolute_url }}">
            {{ object.poster }}
        </a>
    </div>
    <blockquote class="body" data-twitter-id="{{ object.upstream_id }}">
        {{ object.content }}
        {{ object.datetime|naturaltime }}
    </blockquote>
    <div class="link">
        <a href="{{ object.get_absolute_url }}">
            {{ object.upstream_id }}
        </a>
    </div>
    <div class="stats">
        <table>
            <tr>
                <td>
                    Reposts
                </td>
                <td>
                    {{ object.stat_after_two_minute.reposts }}
                </td>
                <td>
                    <abbr title="Reposts by Friends">FR</abbr>
                </td>
                <td>
                    {{ object.stat_after_two_minute.friends_reposts }}
                </td>
                <td>
                    Speed
                </td>
                <td>
                    {{ object.stat_after_two_minute.speed }}
                </td>
                <td>
                    Accel
                </td>
                <td>
                    {{ object.stat_after_two_minute.acceleration }}
                </td>
                <td>
                    Repost per follower
                </td>
                <td>
                    {{ object.stat_after_two_minute.reposts_per_followers_count }}
                </td>
            </tr>
            <tr>
                <td>
                    Reposts
                </td>
                <td>
                    {{ object.last_stat.reposts }}
                </td>
                <td>
                    <abbr title="Reposts by Friends">FR</abbr>
                </td>
                <td>
                    {{ object.last_stat.friends_reposts }}
                </td>
                <td>
                    Speed
                </td>
                <td>
                    {{ object.last_stat.speed }}
                </td>
                <td>
                    Accel
                </td>
                <td>
                    {{ object.last_stat.acceleration }}
                </td>
                <td>
                    Repost per follower
                </td>
                <td>
                    {{ object.last_stat.reposts_per_followers_count }}
                </td>
            </tr>
        </table>
    </div>
</div>
{% empty %}
<h1>No matching tweet found</h1>
{% endfor %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {

function reload() {
    $.ajax(
        window.location.href,
        {
            success: function(data, textStatus, jqXHR) {
                $(data).find('.tweet').each(function() {
                    console.log($(this), $(this).index());
                    div = $('#' + $(this).attr('id'));
                    if (div.length) {
                        // tweet exists with same index: continue
                        // tweet exists with different index: move
                        if (div.index() != $(this).index()) {
                            $('.tweet').eq($(this).index()).before(div);
                        }
                    } else {
                        // tweet does not exist: add
                        $('.tweet').eq($(this).index()).before($(this));
                    }
                });
            }
        }
    );

    setTimeout(reload, 1000);
};
setTimeout(reload, 1000);

});
</script>
{% endblock %}
