{% extends 'posts/base.html' %}

{% load humanize %}
{% load tz %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:posts_post_changelist' %}">All posts</a>
</div>
{% endblock %}

{% block content %}
<style type="text/css">
blockquote {
    border-left: 0;
    margin-left: 0;
}

blockquote.Tweet {
    display: block;
}
.post-list-form p {
    display: inline;
}
#id_max_age_in_minutes, #id_min_friends_reposts, #id_min_average_compare {
    width: 40px;
}
</style>

<div style="min-height:2000px">
<form method="GET" action="" class="post-list-form">
    {{ form.as_p }}
    <input type="submit" value="Filter" />
</form>

<table>
{% for object in posts %}
<tr class="tweet" id="tweet-{{ object.pk }}">
    <td>
        <table class="stat" id="tweet-stat-{{ object.pk }}" width="99%">
            <tr>
                <th>
                    Minute
                </th>
                <th>
                    Reposts
                </td>
                <th>
                    <abbr title="Reposts by Friends">FR</abbr>
                </th>
                <th>
                    Speed
                </th>
                <th>
                    Accel
                </th>
            </tr>
            {% for stat in object.stat_set.all %}
            <tr data-minute="{{ stat.minute }}">
                <td>
                    {{ stat.minute }}
                </td>
                <td>
                    {{ stat.reposts }}
                </td>
                <td>
                    {{ stat.friends_reposts }}
                </td>
                <td>
                    {{ stat.speed|floatformat:"3" }}
                </td>
                <td>
                    {{ stat.acceleration|floatformat:"3" }}
                </td>
            </tr>
            {% endfor %}
        </table>
        <table>
            <tr>
                <th>Poster Average</th>
                <td>{{ object.result.poster_average|floatformat:"2" }}</td>
                <th>Average compare</th>
                <td>{{ object.result.average_compare|floatformat:"2" }}</td>
            </tr>
        </table>
    </td>
    <td>
        <blockquote class="body" data-tweet-id="{{ object.upstream_id }}">
            <!--
            <a href="{{ object.poster.get_absolute_url }}">
                {{ object.poster }}
            </a>
            {{ object.content }}
            {{ object.datetime|naturaltime }}
            -->
        </blockquote>
        <a href="{{ object.get_absolute_url }}">
            Tweet details
        </a>
    </td>
</tr>
{% empty %}
<tr>
    <td>
        No matching tweet found
    </td>
</tr>
{% endfor %}
<table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {

function reload() {
    $.ajax(
        window.location.href,
        {
            success: function(data, textStatus, jqXHR) {
                $(data).find('.tweet').each(function() {
                    div = $('#' + $(this).attr('id'));
                    if (div.length) {
                        // tweet exists with same index: continue
                        // tweet exists with different index: move
                        if (div.index() != $(this).index()) {
                            $('.tweet').eq($(this).index()).before(div);
                        }

                        // Update tweet stats
                        $(this).find('.stat tr[data-minute]').each(function() {
                            if (! div.find('.stat tr[data-minute='+ $(this).attr('data-minute')+']').length) {
                                $(this).insertAfter(div.find('.stat tr:first'));
                            }
                        });
                    } else {
                        // tweet does not exist: add
                        $('.tweet').eq($(this).index()).before($(this));
                    }
                });

                $('.tweet').slice(15).remove();
                renderTweets();
            },
            complete: function() {
                setTimeout(reload, 1000);
            }
        }
    );
};
setTimeout(reload, 1000);
});
</script>
{% endblock %}
