{% extends 'posts/base.html' %}

{% load humanize %}
{% load tz %}
{% load posts_tags %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:posts_post_changelist' %}">All posts</a>
</div>
{% endblock %}

{% block branding %}
{% timezone "Europe/Paris" %}

<h1>
Tweets
{% if 'anytime' not in request.GET %}
since {{ min_datetime }}
{% endif %}
with at least {{ min_friends_retweets }} friends retweet
</h1>

{% endtimezone %}
{% endblock %}

{% block content %}
<style type="text/css">
blockquote {
    border-left: 0;
    margin-left: 0;
}

blockquote.Tweet {
    display: block;
}
</style>

<form method="GET" action="">
    <table>
        <tr>
            <td>
                Min Friends repost
            </td>
            <td>
                {{ form.min_friends_reposts }}
            </td>
            <td>
                On
            </td>
            <td>
                {{ form.filter_on_stat }}
            </td>
        </tr>
        <tr>
            <td>
                Max age in minutes
            </td>
            <td colspan="3">
                {{ form.max_age_in_minutes }}
            </td>
        </tr>
        <tr>
            <td>
                Order by
            </td>
            <td>
                {{ form.order_by }}
            </td>
            <td colspan="2">
                <input type="submit" value="Filter" />
            </td>
        </tr>
    </table>
</form>

<table>
{% for object in object_list %}
<tr class="tweet" id="tweet-{{ object.pk }}">
    <td>
        <table class="stat" id="tweet-stat-{{ object.pk }}" width="99%">
            <tr>
                <th>
                    Seconds
                </th>
                <th>
                    Reposts
                </td>
                <th>
                    <abbr title="Reposts by Friends">FR</abbr>
                </th>
                <th>
                    Speed
                </th>
                <th>
                    Accel
                </th>
                <th>
                    Repost per follower
                </th>
            </tr>
            {% for stat in object.stat_set.all|slice:':12' %}
            <tr>
                <td>
                    {{ stat.added|seconds_since:object.added }}
                </td>
                <td>
                    {{ stat.reposts }}
                </td>
                <td>
                    {{ stat.friends_reposts }}
                </td>
                <td>
                    {{ stat.speed }}
                </td>
                <td>
                    {{ stat.acceleration }}
                </td>
                <td>
                    {{ stat.reposts_per_followers_count }}
                </td>
            </tr>
            {% endfor %}
            {% if object.last_stat not in object.stat_set.all|slice:':12' %}
            <tr>
                <td colspan="6">
                    <a href="{{ object.get_absolute_url }}">
                        ...
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    {{ object.last_stat.added|seconds_since:object.datetime }}
                    (current)
                </td>
                <td>
                    {{ object.last_stat.reposts }}
                </td>
                <td>
                    {{ object.last_stat.friends_reposts }}
                </td>
                <td>
                    {{ object.last_stat.speed }}
                </td>
                <td>
                    {{ object.last_stat.acceleration }}
                </td>
                <td>
                    {{ object.last_stat.reposts_per_followers_count }}
                </td>
            </tr>
            {% endif %}
        </table>
    </td>
    <td>
        <blockquote class="body" data-tweet-id="{{ object.upstream_id }}">
            <!--
            <a href="{{ object.poster.get_absolute_url }}">
                {{ object.poster }}
            </a>
            {{ object.content }}
            {{ object.datetime|naturaltime }}
            -->
        </blockquote>
        <a href="{{ object.get_absolute_url }}">
            Tweet details
        </a>
    </td>
</tr>
{% empty %}
<tr>
    <td>
        No matching tweet found
    </td>
</tr>
{% endfor %}
<table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {

function reload() {
    $.ajax(
        window.location.href,
        {
            success: function(data, textStatus, jqXHR) {
                $(data).find('.tweet').each(function() {
                    div = $('#' + $(this).attr('id'));
                    if (div.length) {
                        // tweet exists with same index: continue
                        // tweet exists with different index: move
                        if (div.index() != $(this).index()) {
                            $('.tweet').eq($(this).index()).before(div);
                        }

                        // Update tweet stats
                        div.find('.stat').replaceWith($(this).find('.stat'));
                    } else {
                        // tweet does not exist: add
                        $('.tweet').eq($(this).index()).before($(this));
                    }
                });

                $('.tweet').slice(15).remove();
            }
        }
    );

    renderTweets();
    setTimeout(reload, 1000);
};
setTimeout(reload, 1000);

});
</script>
{% endblock %}
